* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: rgb(51, 165, 173);
}

.header {
    margin: 0;
    padding: 4px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header .logo {
    font-size: 48px;
    font-weight: bold;
    color: aquamarine;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.first-container {
    padding: 1rem 14rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-container .intro {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
}

button.first{
    background: royalblue;
    border: 1px solid royalblue;
    border-radius: 15px;
    color: white;  
}

.first-container .title {
    font-size: 48px;
    font-weight: bold;
}
.right img {
    width: 100px;
    height: auto;
}

.second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 52, 187);
    height: 500px;
}

.second-container .title {
    display: flex;
    font-size: 32px;
    font-weight: 500;
    color: beige;
    height: 250px;
}

.second-container .items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 250px;
}

.info img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.info .text {
    padding-top: 20px;
}
